.container {
    background-color: black;
    padding: 20px;
    margin: 20px 10px 10px;
}

.task {
    background-color: white;
    width: 50%;
    margin-bottom: 10px;
    height: 30px;
    padding: 10px;
}

.task.dragging{
    opacity: .5;
}